* {
  --electric: #ddb51b;
  --water: #52c3d8;
  --grass: #53b586;
  --normal: #d8e4c3;
  --ghost: #87348d;
  --rock: #7e7789;
  --fighting: #946f4e;
  --fire: #db7f31;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.pokemon-sprite {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.card-item {
  aspect-ratio: 1;
  transform: scale(0.9);
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-item:hover {
  transform: scale(1);
}

.card-item.electric {
  background-color: var(--electric);
}

.card-item.water {
  background-color: var(--water);
}

.card-item.fire {
  background-color: var(--fire);
}

.card-item.grass {
  background-color: var(--grass);
}

.card-item.normal {
  background-color: var(--normal);
}

.card-item.ghost {
  background-color: var(--ghost);
}

.card-item.fighting {
  background-color: var(--fighting);
}

.card-item.rock {
  background-color: var(--rock);
}
